body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 40px;
    padding-bottom: 40px;
}

article {
    background-color: #ffffff;
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 20px;
}

h2 {
    color: #000000;
}

p {
    color: #2a2a2a;
    text-align: justify;
    line-height: 130%;
    font-size: 18px;
}

footer {
    background-color: #444444;
    padding: 10px;
    text-align: center;
    color: #fffdfd;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}